<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Home</title>
    <link rel="stylesheet" href="/css/navbar.css"/>
    <link rel="stylesheet" href="/css/home.css"/>
    <link rel="stylesheet" href="/css/grid.css"/>
    <link rel="stylesheet" href="/css/fragment.css"/>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments :: navbar}"></div>
    <!-- Search bar -->
    <form action="/home" method="get" class="search-bar-category">
        <div class="search-bar">
            <input type="text" placeholder="Search blogs" name="title" />
            <button>Search</button>
        </div>
    </form>

    <!--Blog grid-->
    <div class="blog-grid">
        <!-- Repeatable Blog Card -->
        <div class="blog-card" th:each="blog : ${blogs}">
            <!-- Image container -->
            <div class="blog-image-container">
                <img th:src="'/appUploads/' + ${blog.imgUrl}" alt="Blog Image">
                <span class="blog-category" th:text="${blog.category.name}">Category Name</span>
            </div>
            <div class="blog-card-content">
                <div>
                    <div class="blog-meta" th:text="${#temporals.format(blog.createdAt, 'dd.MM.yyyy HH:mm')}">
                        19.10.2024 18:05
                    </div>
                    <h2 class="blog-title" th:text="${blog.title}">Lorem Ipsum</h2>
                </div>
                <div class="blog-footer">
                    <a th:href="@{/users/userProfile/{username}(username=${blog.user.username})}" class="author-name">
                        <span th:text="${'-' + blog.user.username}"></span>
                    </a>
                    <a th:href="@{'/blog/' + ${blog.id}}" class="read-blog">READ BLOG</a>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination">
        <a ></a>
        <a
            th:if="${currentSize < totalSize}"
            th:href="@{/home(size=${currentSize + 3})}"
            >Load More</a
        >
    </div>
    <div th:replace="~{fragments :: footer}"></div>
</div>
</body>
</html>