* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --orange: #fc3f02;
  --white: #ffffff;
  --headingblue: #222b38;
  --bodytext: #565656;
  --footercolor: #2b2b43;
  --background-color: #f5f4f0;
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
}

h2 {
  font-family: var(--font-primary);
  font-weight: 500;
  text-align: center;
  font-size: 2rem;
}

.login-register-container {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 90vh;
  padding: 20px;
}
.left-side {
  width: 40%;
  padding: 20px;
  margin-right: 10%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
form label {
  font-size: 1.5rem;
  padding: 10px;
  font-family: var(--font-primary);
}
.right-side {
  width: 40%; 
  height: 100%; 

  overflow: hidden; 
}

.right-side img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
input {
  height: 3rem;
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid black;
}
.btn-login-register {
  height: 3rem;
  background-color: var(--orange);
  border-radius: 20px;
  font-size: 1.4rem;
  color: var(--white);
  border: none;
}
.sign-up-text {
  margin-top: 3rem;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  font-family: var(--font-primary);
}
.sign-up-text a {
  color: var(--orange);
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .login-register-container {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }

  .left-side {
    width: 100%; 
    margin-right: 0;
    box-shadow: none;
  }

  .right-side {
    display: none; 
  }
}
