header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  flex-wrap: wrap;
  margin: 0 5%;
}

header h1 {
  font-family: var(--font-primary);
  font-weight: bold;
  color: var(--headingblue);
  margin-right: 20px; /* Ensure there is space between the title and the nav */
}

header nav {
  display: flex;
  align-items: center; /* Vertically align nav items */
  gap: 15px;
}

header nav a {
  text-decoration: none;
  color: var(--bodytext);
  font-family: var(--font-secondary);
}

header nav a:hover {
  color: var(--orange);
}

/* Logout Button Styling */
.logout-form {
  margin-left: 20px;
}

.logout-btn {
  background-color: var(--orange);
  color: var(--white);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.logout-btn:hover {
  background-color: darkorange;
}

/* Responsive Design for Header */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center text when stacking vertically */
  }

  header h1 {
    margin-right: 0; /* Remove right margin on smaller screens */
  }

  header nav {
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .logout-btn {
    margin-top: 10px;
  }

  .logout-form {
    margin-left: 0; /* Remove margin for logout form on small screens */
  }
}